.bookPageHeader {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.bookImg {
  height: 201px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookFrame {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.bookDetails {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

.bookReview {
  margin-top: 60px;
  margin-bottom: 30px;
}

.bookPageMain {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

.addReviewForm {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.likesNumber {
  display: inline;
}

.heartButton {
  background: none;
  border: none;
}

.heartButton:focus {
  outline: none;
}
