.leftSidebarFrame {
  display: inline-block;
  justify-content: center;
  border: 1px solid rgb(235, 233, 233);
  padding: 20px;
  padding-bottom: 12px;
}
.leftSidebarImg {
  max-width: 360px;
}

.sidebarLeftTitle {
  margin-top: 20px;
}

.goToBookstore {
  margin: 0;
  padding: 3px;
}

.sidebarButton.btn:focus {
  outline: none;
  box-shadow: none;
}
