.collectionHeader {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.allBooksContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bookContainer {
  position: relative;
  text-align: center;
  padding: 20px;
  padding-bottom: 7px;
  width: 300px;
  border: 1px solid rgb(235, 233, 233);
  margin: 20px;
}

.bookImage {
  height: 201px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewed {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  width: 75px;
  margin: 0;
}

.collectionBookTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
