.userName {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.collectionsContainer {
  display: flex;
  justify-content: center;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 20px;
  text-align: center;
}

.collectionName {
  color: white;
}
